<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Page de confirmation</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					<div class="form-group">
						<label>ID:</label> <label th:text="${pers.id}"></label>
					</div>
					<div class="form-group">
						<label>Nom:</label> <label th:text="${pers.nom}"></label>
					</div>
					<div class="form-group">
						<label>Prenom:</label> <label th:text="${pers.prenom}"></label>
					</div>
					<div class="form-group">
						<label>Age:</label> <label th:text="${pers.age}"></label>
					</div>
					<div class="form-group">
						<label>Né(e) le:</label> <label th:text="${pers.dateNaissance}"></label>
					</div>
					<div class="form-group">
						<label>Email:</label> <label th:text="${pers.Email}"></label>
					</div>
					<div class="form-group">
						<label>Photo:</label> <label th:text="${pers.photo}"></label>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>