<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des personnes</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="container">
			<div class="spacer col-md-6 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Editer des personnes</div>
					<div class="panel-body">
						<form th:action="@{/admin/save}" method="post" enctype="multipart/form-data">

							<div class="form-group">
								<div>
									<label class="control-label">ID:</label>
									<label th:text=" ${pers.id}"></label>
									
								</div>
								<input class="control-control" type="hidden" name="id"
									placeholder="votre id" th:value="${pers.id}"
									style="background-color: #FFFFFF;" /> <span class="red"
									th:errors="${pers.id}"></span>
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Nom:</label>
								</div>
								<input class="form-control" type="text" name="nom"
									placeholder="votre nom" th:value="${pers.nom}" /> <span
									class="red" th:errors="${pers.nom}"></span>
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Prenom:</label>
								</div>
								<input class="form-control" type="text" name="prenom"
									placeholder="votre prenom" th:value="${pers.prenom}" />
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Age:</label>
								</div>
								<input class="form-control" type="text" name="age"
									placeholder="votre age" th:value="${pers.age}" /> <span
									th:errors="${pers.age}"></span>
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Né(e) le :</label>
								</div>
								<input class="form-control" type="date" th:field="${pers.dateNaissance}" name="dateNaissance"/> 
								<span class="text-danger" th:errors="${pers.email}"></span>
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Email:</label>
								</div>
								<input class="form-control" type="text" name="email"
									placeholder="votre email" th:value="${pers.email}" /> <span
									th:errors="${pers.email}"></span>
							</div>
							<div class="form-group">
								<div>
									<label class="control-label">Photo:</label>
								</div>
								<input type="file" name="picture" class="form-control"/>
								<span th:errors="${pers.photo}"></span>
								<div>
									<img class="img-circle" th:src="@{getPhoto(id=${pers.id})}" height="50" width="50"/>
								</div>
							</div>
							<div>
								<button class="btn btn-primary btn-block" type="submit">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>