<!DOCTYPE html>
<html>
<head>
  <title>Course example</title>

  <link rel="stylesheet" type="text/css" href="/css/intro.css" />
</head>

<body>
  <div id="list_section">
    <h1 id="header">To-do list</h1>
    <ul>
      <li class="item">Buy movie tickets</li>
    </ul>
    <div id="newItemButton"><button href="#">new item</button></div>
    <form id="newItemForm">
      <input type="text" id="itemField" placeholder="Item" />
      <input type="submit" id="add" value="add" />
    </form>
  </div>
  

  
  <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
  
  <script type="text/javascript" src="/js/intro.js"></script>
  
</body>

</html>