<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1" />
<title>Gestion des personnes</title>

<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	href="../static/css/bootstrap.min.css" -->
<!-- 	th:href="@{/css/bootstrap.min.css}" /> -->

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid" style="background: yellow;">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><b>COTISATIONS</b></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a><b>Gestion des personnes</b></a></li>
				<li><a th:href="@{/user/index}">Chercher</a></li>
				<li><a th:href="@{/admin/form}">Personne</a></li>
				<li><a>Rencontre</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a th:href="@{/login?logout}" th:inline="text">logout</a> <!-- deconnecter le user connecté -->
				</li>
				<li><a>[[${#httpServletRequest.remoteUser}]]</a></li>
				<!-- affiche le nom du user connecté -->
			</ul>
		</div>
	</nav>

	<section layout:fragment="content1"></section>
	<section layout:fragment="content2"></section>

	<footer>
		<hr />
		<div class="container">
			<small>Copyright@2009 </small>
		</div>
	</footer>

</body>
</html>