<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Liste des personnes</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des personnes
					[[${#httpServletRequest.remoteUser}]]</div>
				<div class="panel-body">
					<form th:action="@{/user/index}" method="get">
						<label>Mot clé</label> <input type=text name="motCle"
							placeholder="search" th:value="${motCle}">
						<button type="submit" class="btn btn-success">Search</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<th>ID texte</th>
							<th>NOMS</th>
							<th>PRENOMS</th>
							<th>AGE</th>
							<th>NE(E) LE</th>
							<th>EMAIL</th>
							<th>PHOTO</th>
						</tr>
						<tr th:each="p:${listPers}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.nom}"></td>
							<td th:text="${p.prenom}"></td>
							<td th:text="${p.age}"></td>
							<td th:text="${p.dateNaissance}"></td>
							<td th:text="${p.email}"></td>
							<td>
								<img class="img-circle" th:src="@{getPhoto(id=${p.id})}" alt="download picture"  height="50" width="50"/>
							</td>
							<td><a class="btn btn-danger"
								onclick="return confirm('Etes-vous sur de vouloir supprimer ?')"
								th:href="@{/admin/delete(id=${p.id}, page=${currentPage}, motCle=${motCle})}">Delete</a></td>

							<td><a class="btn btn-primary"
								onclick="return confirm('Etes-vous sur de vouloir modifier ?')"
								th:href="@{/admin/edit(id=${p.id})}">Editer</a></td>
								
								<td><a class="btn btn-primary"
								onclick="return confirm('Etes-vous sur de vouloir modifier ?')"
								th:href="@{/admin/edit(id=${p.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:class="${currentPage==status.index}?'active':''"
							th:each="page,status:${pages}"><a
							th:href="@{/user/index(page=${status.index}, motCle=${motCle})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>