<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Acces Denied</title>
</head>
<body>

	<div layout:fragment="content1">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Avertissement</div>
				<div class="panel-body">
					<h3 class="red">Cette resource n'est pas disponible</h3>
				</div>
			</div>
		</div>
	</div>

</body>
</html>